@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap");
:root {
  --primaryColor: #1b3b36;
  --background: #313f38;
  --secondaryColor: #fcd043;
  --fontColor: #fff;
  --transparency: rgba(49, 63, 56, 0.48);
  --error: #b03e3e;
  --SColor: #dc9b39;
  --buttonOutline: rgba(255, 252, 246, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* About Hero Section */
#aboutContainer {
  height: 100vh;
  width: 100vw;
}
.aboutContainer {
  display: flex;
  background-color: var(--background);
  position: relative;
  padding-top: 70px;
}

.about-btn img {
  width: 100px;
  height: 100px;
}

/* About Img Side Section */
.imgSideSection {
  width: 60vw;
  height:100vh;
  display: flex;
}
.SideSection {
  width: 40vw;
  margin-top: 20px;
}


/* Positioning Images */
.sideImg {
  position: absolute;
  left: 80%;
}

.BhLogo{
  position: absolute;
  top: 3%;
  left: 73%;
}
.IconImg{
    position: absolute;
    left:77%;
    top:9%;
}

.ellipse{
    position: absolute;
    top:0%;
    left:7.5%;
    height:70vh;

}
.Vector{
    position: absolute;
    top:0;
    left:36.8%;
}
.vectorLine{
    position: absolute;
    height:100vh;
    left:72%;
    top:0%;
}

.about-btn{
    position: absolute;
    top:70%;
    left:80%;
}
/* resizing Image */
.IconImg img {
  width: 25px;
  height: 25px;
}

/* !Bringing About Image in front of the Ellipse */
.imgContainer img{
    width:500px;
    height:600px;
}


/* About Content  Section*/
.AboutContent{
    display: flex;
    justify-content: start;
    align-content: flex-end;
    flex-direction:column;
    color:var(--fontColor);
    
}

.AboutContent h1{
    font-family:"EB Garamond", serif;
}
.AboutContent h2{
    font-family:"EB Garamond", serif;
}

.AboutContent p{
    width:19.5vw;
    text-align: start;
    line-height: 1.5em;
}

.AboutText{
    position: absolute;
    left:30%;
    top:30%;
    text-align:end;
}

.About-Text{
  position: absolute;
  top:55%;
}
